html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 2px solid #aaa;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

input[type="range"]::-ms-track {
    background: #ccc;
    height: 4px;
    border-radius: 4px;
    border: none;
    color: transparent;
}

input[type="range"]:hover::-ms-track,
input[type="range"]:focus::-ms-track {
    background: #777;
}

input[type="range"]::-ms-thumb {
    background: blue;
    width: 6px;
    height: 24px;
    border-radius: 50%;
    border: none;
    margin: 0 4px 0;
    box-shadow: 0 0 0 4px #fff;
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:focus::-ms-thumb {
    background: black;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type="range"]::-ms-fill-lower {
    background: blue;
    border-radius: 4px;
}

input[type="range"]:hover::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-lower {
    background: black;
}
